/__pycache__/*
/parsers/__pycache__/
/scrapped_data.txt
/scrappers/__pycache__/
/storages/__pycache__/
/converters/__pycache__/
/raw_data/__pycache__/
/processors/__pycache__/
/pages_cache/*
proxies.yml
